
.image {
	width: 100%;
}

.blur {
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

/* resize bootstrap's container */
section.container {
    max-width: 720px;
}

.container > h1 {
    margin-top: 0.8em;
    margin-bottom: 0.6em;
}

#header {
    display: flex;
    margin-top: 0.8em;
    margin-bottom: 0.6em;
}

.form-range::-webkit-slider-runnable-track {
  background: #eeeeee !important;
}
.form-range::-moz-range-track {
  background: #eeeeee !important;
}

/* red slider */
form #red.form-range::-webkit-slider-thumb {
  background: red;
}
form #red.form-range::-moz-range-thumb {
  background: red;
}
form #red.form-range::-ms-thumb {
  background: red;
}

/* green slider */
form #green.form-range::-webkit-slider-thumb {
  background: green;
}
form #green.form-range::-moz-range-thumb {
  background: green;
}
form #green.form-range::-ms-thumb {
  background: green;
}

/* blue slider */
form #blue.form-range::-webkit-slider-thumb {
  background: blue;
}
form #blue.form-range::-moz-range-thumb {
  background: blue;
}
form #blue.form-range::-ms-thumb {
  background: blue;
}